/* src/App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #000046, #1cb5e0); /* Ocean-like gradient */
}

.title {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
